.hero {
  padding-top: 0;
}

.hero__parallax {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
